#title {
    background-image: url('../img/game-screenshot-2.png');
    background-repeat: no-repeat;
    background-size: auto;
    width: 100vw;
    height: 90vh;
}

.red-gradient {
    background: linear-gradient(270deg, #ff0022, #000000);
    background-size: 400% 400%;

    -webkit-animation: RedGradient 21s ease infinite;
    -moz-animation: RedGradient 21s ease infinite;
    -o-animation: RedGradient 21s ease infinite;
    animation: RedGradient 21s ease infinite;
}

@-webkit-keyframes RedGradient {
    0% {
        background-position: 0% 50%
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0% 50%
    }
}

@-moz-keyframes RedGradient {
    0% {
        background-position: 0% 50%
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0% 50%
    }
}

@-o-keyframes RedGradient {
    0% {
        background-position: 0% 50%
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0% 50%
    }
}

@keyframes RedGradient {
    0% {
        background-position: 0% 50%
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0% 50%
    }
}